{% extends "base_generic.html" %}

{% load bootstrap4 %}

{% block content %}
<h1>Добавление посещения мероприятия</h1>

  <p>На указанной странице вы можете добавить <em>посещение мероприятия</em></p>

{% buttons %}
  <a href="../../../" class="btn btn-primary">Вернуться к редактируемому маршруту</a>
  <a href="add/" class="btn btn-primary">Добавить мероприятие</a>
{% endbuttons %}

  <form class="create-client-form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <input type="submit" class="btn btn-primary" value="Сохранить">
    {% endbuttons %}
  </form>

{% endblock %}